.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

/* colors */
:root {
	--color-default-primary: #fff;
  --color-default-secondary: #000;
  --color-sun-primary: #fc85f2;
  --color-sun-secondary: #e80909;
	--color-rain-primary: #89cff0;
  --color-rain-secondary: #f987c5;
  --color-cloudy-primary: #fff;
  --color-cloudy-secondary: lightgreen;
  --color-stormy-primary: black;
  --color-stormy-secondary: red;
}

/* switch */
/* default: black&white */
.default-switch:checked ~ .menu .title, .default-switch:checked ~ .menu .subtitle {
  color: var(--color-default-secondary);
}

.default-switch:checked ~ .menu, .default-switch:checked ~ .menu .section:hover {
  background-color: var(--color-default-primary);
}

.default-switch:checked ~ .menu .section, .default-switch:checked ~ .menu .section .article:hover {
	background-color: var(--color-default-secondary);
}

.default-switch:checked ~ .menu .section .title-dish, .default-switch:checked ~ .menu .section .subtitle-dish, .default-switch:checked ~ .menu .section .article:hover .prize, .default-switch:checked ~ .menu .section .article:hover .name--dish, .default-switch:checked ~ .menu .section .article:hover .text--dish {
	color: var(--color-default-primary);
}

.default-switch:checked ~ .menu .section:hover .title-dish, .default-switch:checked ~ .menu .section:hover .subtitle-dish, .default-switch:checked ~ .menu .section .article .prize, .default-switch:checked ~ .menu .section .article .name--dish, .default-switch:checked ~ .menu .section .article .text--dish {
	color: var(--color-default-secondary);
}


/* sunny: pink&red */
.sunny-switch:checked ~ .menu .title, .sunny-switch:checked ~ .menu .subtitle {
  color: var(--color-sun-secondary);
}

.sunny-switch:checked ~ .menu, .sunny-switch:checked ~ .menu .section:hover {
  background-color: var(--color-sun-primary);
}

.sunny-switch:checked ~ .menu .section, .sunny-switch:checked ~ .menu .section .article:hover {
	background-color: var(--color-sun-secondary);
}

.sunny-switch:checked ~ .menu .section .title-dish, .sunny-switch:checked ~ .menu .section .subtitle-dish, .sunny-switch:checked ~ .menu .section .article:hover .prize, .sunny-switch:checked ~ .menu .section .article:hover .name--dish, .sunny-switch:checked ~ .menu .section .article:hover .text--dish {
	color: var(--color-sun-primary);
}

.sunny-switch:checked ~ .menu .section:hover .title-dish, .sunny-switch:checked ~ .menu .section:hover .subtitle-dish, .sunny-switch:checked ~ .menu .section .article .prize, .sunny-switch:checked ~ .menu .section .article .name--dish, .sunny-switch:checked ~ .menu .section .article .text--dish {
	color: var(--color-sun-secondary);
}


/* rainy: blue&pink */

.rainy-switch:checked ~ .menu .title, .rainy-switch:checked ~ .menu .subtitle {
  color: var(--color-rain-secondary);
}

.rainy-switch:checked ~ .menu, .rainy-switch:checked ~ .menu .section:hover {
  background-color: var(--color-rain-primary);
}

.rainy-switch:checked ~ .menu .section, .rainy-switch:checked ~ .menu .section .article:hover {
	background-color: var(--color-rain-secondary);
}

.rainy-switch:checked ~ .menu .section .title-dish, .rainy-switch:checked ~ .menu .section .subtitle-dish, .rainy-switch:checked ~ .menu .section .article:hover .prize, .rainy-switch:checked ~ .menu .section .article:hover .name--dish, .rainy-switch:checked ~ .menu .section .article:hover .text--dish {
	color: var(--color-rain-primary);
}

.rainy-switch:checked ~ .menu .section:hover .title-dish, .rainy-switch:checked ~ .menu .section:hover .subtitle-dish, .rainy-switch:checked ~ .menu .section .article .prize, .rainy-switch:checked ~ .menu .section .article .name--dish, .rainy-switch:checked ~ .menu .section .article .text--dish {
	color: var(--color-rain-secondary);
}


/* cloudy: white&green */
.cloudy-switch:checked ~ .menu .title, .cloudy-switch:checked ~ .menu .subtitle {
  color: var(--color-cloudy-secondary);
}

.cloudy-switch:checked ~ .menu, .cloudy-switch:checked ~ .menu .section:hover {
  background-color: var(--color-cloudy-primary);
}

.cloudy-switch:checked ~ .menu .section, .cloudy-switch:checked ~ .menu .section .article:hover {
	background-color: var(--color-cloudy-secondary);
}

.cloudy-switch:checked ~ .menu .section .title-dish, .cloudy-switch:checked ~ .menu .section .subtitle-dish, .cloudy-switch:checked ~ .menu .section .article:hover .prize, .cloudy-switch:checked ~ .menu .section .article:hover .name--dish, .cloudy-switch:checked ~ .menu .section .article:hover .text--dish {
	color: var(--color-cloudy-primary);
}

.cloudy-switch:checked ~ .menu .section:hover .title-dish, .cloudy-switch:checked ~ .menu .section:hover .subtitle-dish, .cloudy-switch:checked ~ .menu .section .article .prize, .cloudy-switch:checked ~ .menu .section .article .name--dish, .cloudy-switch:checked ~ .menu .section .article .text--dish {
	color: var(--color-cloudy-secondary);
}


/* stormy: purple&yellow */
.stormy-switch:checked ~ .menu {
  background-color: #;
}


/* grid */

.menu {
	position: absolute;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas:
		"header header header header"
		". . . ."
		". . . ."
    "eggs . . ."
    "eggs . . ."
		". . . ."
		". noshes . ."
		". noshes . ."
		". . . ."
		". . platters platters"
		". . . ."
		". . . ."
		". . . ."
		". . soup ."
		". . . ."
		". . . ."
		". . . salads"
		". . . ."
		". . . ."
		"boards boards . ."
		". . . ."
		". . . ."
		". . sweet sweet";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 30vh);
}


/* styles */

.body {
	width: 100vw;
	margin: 0 auto;
}

.menu {
	background-color: var(--color-default-primary);
}

.header {
	top: 20vh;
	grid-area: header;
	text-align: center;
}

.title {
	color: var(--color-default-secondary);
	font-size: 10em;
	transition: font-size .5s ease-in;
}

.title-dish {
	color: var(--color-default-primary);
	font-size: 1.75rem;
	transform: rotate(180deg)
}

.subtitle {
	font-size: 1.5em;
	color: var(--color-default-secondary);
}

.subtitle-dish {
	color: var(--color-default-primary);
	transform: rotate(180deg)
}


/* menu sections */

.section {
	scroll-behavior: [ auto | smooth ];
	background-color: var(--color-default-secondary);
	padding: 0.5rem 1rem;
	position: sticky;
	top: 1em;
	overflow: auto;
	transform: rotate(180deg);
}

.section:hover {
	background-color: var(--color-default-primary);
	height: 100%;
	transition: transform .2;
	transform: rotate(360deg);
}

.section:hover .title-dish, .section:hover .subtitle-dish, .section:hover .dish {
	color: var(--color-default-secondary);
	transform: rotate(360deg);

}

.section-eggs {
	grid-area: eggs;
	top: .5em;
}

.section-noshes {
	grid-area: noshes;
	top: .5em;
}

.section-platters {
	grid-area: platters;
	top: .5em;
}

.section-soup {
	grid-area: soup;
	top: 15.15em;
}

.section-salads {
	grid-area: salads;
	top: 15.15em;
}

.section-boards {
	grid-area: boards;
	top: 29.75rem;
}

.container--platters, .container--boards, .container--sweet {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

.section-sweet {
	grid-area: sweet;
	top: 32.5rem;
}


/* dishes */

.article {
	margin: 0.7rem 0;
	padding: .2rem .5rem;
}

.article--dish:hover {
	background-color: var(--color-default-secondary);
}

.article--dish:hover .name--dish,  .article--dish:hover .text--dish, .article--dish:hover .prize {
	color: var(--color-default-primary);
}

.name--dish {
	color: var(--color-default-secondary);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.text--dish {
	color: var(--color-default-secondary);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.prize {
	color: var(--color-default-secondary);
	float: right;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

@media (max-width: 58em) {

	.menu {
		grid-gap: 0;
		grid-template-areas:
		"header header header"
		". . ."
		". . ."
		". . ."
    "eggs . ."
		". . ."
		". . ."
		". noshes ."
		". . ."
		". . ."
		". . platters"
		". . ."
		". . ."
		"soup . ."
		". . ."
		". . ."
		". salads ."
		". . ."
		". . ."
		". . boards"
		". . ."
		". . ."
		"sweet sweet sweet";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(30, 25vh);
  }

	/* styles */

	.title {
		line-height: 11.5rem;
		font-size: 9em;
	}

	/* menu sections */

	.section {
		height: 20vw;
	}

	.section-eggs {
		grid-area: eggs;
		top: 2.5vh;
	}

	.section-eggs:hover {
		height: 75vh
	}

	.section-noshes {
		grid-area: noshes;
		top: 2.5vh;
	}

	.section-noshes:hover {
		height: 60vh;
	}

	.section-platters {
		grid-area: platters;
		top: 2.5vh;
	}

	.section-platters:hover {
		height: 50vh;
	}

	.section-soup {
		grid-area: soup;
		top: 38vh;
	}

	.section-salads {
		grid-area: salads;
		top: 38vh;
	}

	.section-soup:hover, .section-salads:hover {
		height: 30vh;
	}

	.section-boards {
		grid-area: boards;
		top: 38vh;
	}

	.section-boards:hover {
		height: 57.5vh;
	}

	.section-sweet {
		grid-area: sweet;
		top: 100vh;
	}

	.container--platters, .container--boards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */

	.article {
		margin: 0.7rem 0;
	}

	.name--dish {
		font-size: 1rem;
	}

	.text--dish {
		font-size: 1rem;
	}

	.prize {
		float: right;
		font-size: 1rem;
	}
}

@media (max-width: 38em) {

	/* grid */
	.menu {
		grid-template-areas:
			"header"
			"."
			"."
			"."
			"."
	    "eggs"
			"eggs"
			"."
			"."
			"noshes"
			"noshes"
			"."
			"."
			"platters"
			"platters"
			"."
			"."
			"soup"
			"soup"
			"."
			"."
			"salads"
			"salads"
			"."
			"."
			"boards"
			"boards"
			"."
			"."
			"sweet"
			"sweet";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(40, 25vh);
  }

	/* styles */
	.title {
		font-size: 5.5em;
	}

	.subtitle {
		font-size: 1.25rem;
		margin-top: 10vh;
	}

	/* menu sections */
	.section-eggs:hover, .section-noshes:hover, .section-platters:hover, .section-soup:hover, .section-salads:hover, .section-boards:hover, .section-sweet:hover {
		height: 95vh;
	}

	.section-eggs {
		grid-area: eggs;
		top: 2vh;
	}

	.section-noshes {
		grid-area: noshes;
		top: 2vh;
	}

	.section-platters {
		grid-area: platters;
		top: 2vh;
	}

	.section-soup {
		grid-area: soup;
		top: 2vh;
	}

	.section-salads {
		grid-area: salads;
		top: 2vh;
	}

	.section-boards {
		grid-area: boards;
		top: 2vh;
	}

	.section-sweet {
		grid-area: sweet;
		top: 2vh;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */

	.article {
		margin: 0.7rem 0;
	}

	.name--dish {
		font-size: 1rem;
	}

	.text--dish {
		font-size: 1rem;
	}

	.prize {
		float: right;
		font-size: 1rem;
	}
}
