.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.body {
	background-color: darkred;
	width: 100vw;
	margin: 0 auto;
}

.menu {
	position: absolute;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas:
		"header header header header"
		". . . ."
		". . . ."
    "eggs . . ."
    "eggs . . ."
		". . . ."
		". noshes . ."
		". noshes . ."
		". . . ."
		". . platters platters"
		". . . ."
		". . . ."
		". . . ."
		". . soup ."
		". . . ."
		". . . ."
		". . . salads"
		". . . ."
		". . . ."
		"boards boards . ."
		". . . ."
		". . . ."
		". . sweet sweet";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 30vh);
}

.header {
	grid-area: header;
	text-align: center;
	position: sticky;
}

.title {
	color: red;
}

.title-dish {
	color: darkred;
}

.subtitle {
	color: red;
	margin: 0.5rem 0 1em 0;
}

.subtitle-dish {
	color: darkred;
}

.section {
	background-color: red;
	padding: 0.5rem 1rem;
	position: sticky;
	top: 1em;
}

.section:hover {
	border-radius: 50px;
}

.section-eggs {
	grid-area: eggs;
	position: sticky;
	top: .5em;
}

.section-noshes {
	grid-area: noshes;
	position: sticky;
	top: .5em;
}

.section-platters {
	grid-area: platters;
	position: sticky;
	top: .5em;
}

.section-soup {
	grid-area: soup;
	position: sticky;
	top: 16.5em;
}

.section-salads {
	grid-area: salads;
	position: sticky;
	top: 16.5em;
}

.section-boards {
	grid-area: boards;
	position: sticky;
	top: 32.5rem;
}

.section-sweet {
	grid-area: sweet;
	position: sticky;
	top: 32.5rem;
}



@media (max-width: 58em) {
  .body {
    background-color: darkgreen;
  }

	.menu {
		position: absolute;
		grid-gap: 1em;
		grid-template-areas:
		"header header header"
		". . ."
		". . ."
		". . ."
    "eggs eggs ."
    "eggs eggs ."
		". . ."
		". . ."
		". . noshes"
		". . noshes"
		". . noshes"
		". . ."
		". . platters"
		". . platters"
		". . platters"
		". . ."
		". . ."
		". . ."
		"soup soup ."
		". . ."
		". . ."
		". . ."
		"salads salads ."
		". . ."
		". . ."
		". . ."
		"boards boards ."
		". . ."
		". . ."
		"sweet sweet sweet";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(30, 25vh);
  }

	.title {
		color: lightgreen;
	}

	.title-dish {
		color: darkgreen;
	}

	.subtitle {
		color: lightgreen;
	}

	.subtitle-dish {
		color: darkgreen;
	}

	.section {
		background-color: lightgreen;
		padding: 0.5rem 1rem;
	}

	.section-eggs {
		grid-area: eggs;
		position: sticky;
		top: 1em;
	}

	.section-noshes {
		grid-area: noshes;
		position: sticky;
		top: 1em;
	}

	.section-platters {
		grid-area: platters;
		position: sticky;
		top: 40.25em;
	}

	.section-soup {
		grid-area: soup;
		position: sticky;
		top: 27.15em;
	}

	.section-salads {
		grid-area: salads;
		position: sticky;
		top: 40.25em;
	}

	.section-boards {
		grid-area: boards;
		position: sticky;
	}

	.section-sweet {
		grid-area: sweet;
		position: sticky;
		top: 100;
	}

}

@media (max-width: 38em) {
  .body {
    background-color: darkblue;
  }

	.menu {
		height: 310vh;
		grid-template-areas:
			"header header"
	    "eggs eggs"
	    "eggs eggs"
			"noshes noshes"
			"noshes noshes"
			"platters platters"
			"soup soup"
			"salads salads"
			"boards boards"
			"sweet sweet"
			"sweet sweet";
		grid-template-columns: 1fr;
		grid-template-rows: 7.5vh 25vh 25vh 25vh 25vh 30vh 30vh 30vh 30vh 25vh 25vh;
  }

	.title {
		color: blue;
	}

	.title-dish {
		color: darkblue;
	}

	.subtitle {
		color: blue;
	}

	.subtitle-dish {
		color: darkblue;
	}

	.section {
		background-color: blue;
		padding: 0.5rem 1rem;
	}

	.section-eggs {
		grid-area: eggs;
	}

	.section-noshes {
		grid-area: noshes;
	}

	.section-platters {
		grid-area: platters;
	}

	.section-soup {
		grid-area: soup;
	}

	.section-salads {
		grid-area: salads;
	}

	.section-boards {
		grid-area: boards;
	}

	.section-sweet {
		grid-area: sweet;
	}
}
