/* attributes */

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

/* grid */

.menu {
	position: absolute;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas:
		"header header header header"
		". . . ."
		". . . ."
    "eggs . . ."
    "eggs . . ."
		". . . ."
		". noshes . ."
		". noshes . ."
		". . . ."
		". . platters platters"
		". . . ."
		". . . ."
		". . . ."
		". . soup ."
		". . . ."
		". . . ."
		". . . salads"
		". . . ."
		". . . ."
		"boards boards . ."
		". . . ."
		". . . ."
		". . sweet sweet";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 30vh);
}

/* styles */

.body {
	background-color: #fc85f2;
	width: 100vw;
	margin: 0 auto;
}

.header {
	top: 20vh;
	grid-area: header;
	text-align: center;
	position: sticky;
}

.title {
	color: #e80909;
	font-size: 10em;
}

.title-dish {
	color: #fc85f2;
	font-size: 1.75rem;
}

.subtitle {
	font-size: 1.5em;
	color: #e80909;
}

.subtitle-dish {
	color: #fc85f2;
}

/* menu sections */

.section {
	scroll-behavior: [ auto | smooth ];
	background-color: #e80909;
	padding: 0.5rem 1rem;
	position: sticky;
	top: 1em;
	overflow: hidden;
}

.section:hover {
	background-color: #fc85f2;
	z-index: 1;
	height: 100%;
}

.section:hover .title-dish, .section:hover .subtitle-dish, .section:hover .dish {
	color: #e80909;
}

.section-eggs {
	grid-area: eggs;
	top: .5em;
}

.section-noshes {
	grid-area: noshes;
	top: .5em;
}

.section-platters {
	grid-area: platters;
	top: .5em;
}

.section-soup {
	grid-area: soup;
	top: 15.15em;
}

.section-salads {
	grid-area: salads;
	top: 15.15em;
}

.section-boards {
	grid-area: boards;
	top: 29.75rem;
}

.container--platters, .container--boards, .container--sweet {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

.section-sweet {
	grid-area: sweet;
	top: 32.5rem;
}

/* dishes */

.article {
	margin: 0.7rem 0;
	padding: .2rem .5rem;
}

.article--dish {

}

.article--dish:hover {
	/* padding: .3rem; */
	background-color: #e80909;
}

.article--dish:hover .name--dish,  .article--dish:hover .text--dish, .article--dish:hover .prize {
	color: #fc85f2;
}

.name--dish {
	color: #e80909;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.text--dish {
	color: #e80909;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.prize {
	color: #e80909;
	float: right;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

@media (max-width: 58em) {

	/* grid */

	.menu {
		position: absolute;
		grid-gap: 0;
		grid-template-areas:
		"header header header"
		". . ."
		". . ."
		". . ."
    "eggs . ."
		". . ."
		". . ."
		". noshes ."
		". . ."
		". . ."
		". . platters"
		". . ."
		". . ."
		"soup . ."
		". . ."
		". . ."
		". salads ."
		". . ."
		". . ."
		". . boards"
		". . ."
		". . ."
		"sweet sweet sweet";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(30, 25vh);
  }

	/* styles */

	.body {
    background-color: #fff;
  }

	.title {
		color: lightgreen;
		line-height: 11.5rem;
		font-size: 9em;
	}

	.title-dish {
		color: #fff;
	}

	.subtitle {
		color: lightgreen;
	}

	.subtitle-dish {
		color: #fff;
	}

	/* menu sections */

	.section {
		height: 20vw;
		background-color: lightgreen;

	}

	.section:hover {
		background-color: #fff;
		z-index: 1;
	}

	.section:hover .title-dish, .section:hover .subtitle-dish {
		color: lightgreen;
	}

	.section-eggs {
		grid-area: eggs;
		top: 2.5vh;
	}

	.section-eggs:hover {
		height: 75vh
	}

	.section-noshes {
		grid-area: noshes;
		top: 2.5vh;
	}

	.section-noshes:hover {
		height: 60vh;
	}

	.section-platters {
		grid-area: platters;
		top: 2.5vh;
	}

	.section-platters:hover {
		height: 50vh;
	}

	.section-soup {
		grid-area: soup;
		top: 38vh;
	}

	.section-salads {
		grid-area: salads;
		top: 38vh;
	}

	.section-soup:hover, .section-salads:hover {
		height: 30vh;
	}

	.section-boards {
		grid-area: boards;
		top: 38vh;
	}

	.section-boards:hover {
		height: 57.5vh;
	}

	.section-sweet {
		grid-area: sweet;
		top: 100vh;
	}

	.container--platters, .container--boards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */

	.article {
		margin: 0.7rem 0;
	}

	.article--dish:hover {
		/* padding: .3rem; */
		background-color: lightgreen;
	}

	.article--dish:hover .name--dish,  .article--dish:hover .text--dish, .article--dish:hover .prize {
		color: #fff;
	}

	.name--dish {
		color: lightgreen;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.text--dish {
		color: lightgreen;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.prize {
		color: lightgreen;
		float: right;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

}

@media (max-width: 38em) {

	/* grid */

	.menu {
		/* height: 310vh; */
		grid-template-areas:
			"header"
			"."
			"."
			"."
			"."
	    "eggs"
			"eggs"
			"."
			"."
			"noshes"
			"noshes"
			"."
			"."
			"platters"
			"platters"
			"."
			"."
			"soup"
			"soup"
			"."
			"."
			"salads"
			"salads"
			"."
			"."
			"boards"
			"boards"
			"."
			"."
			"sweet"
			"sweet";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(40, 25vh);
  }

	/* styles */

	.body {
		background-color: #89cff0;
	}

	.title {
		color: #f987c5;
		font-size: 5.5em;
	}

	.title-dish {
		color: #89cff0;
	}

	.subtitle {
		color: #f987c5;
		font-size: 1.25rem;
		margin-top: 10vh;

	}

	.subtitle-dish {
		color: #89cff0;
	}

	/* menu sections */

	.section {
		background-color: #f987c5;
	}

	.section:hover {
		background-color: #89cff0;
	}

	.section:hover .title-dish, .section:hover .subtitle-dish {
		color: #f987c5;
	}

	.section-eggs:hover, .section-noshes:hover, .section-platters:hover, .section-soup:hover, .section-salads:hover, .section-boards:hover, .section-sweet:hover {
		height: 95vh;
	}

	.section-eggs {
		grid-area: eggs;
		top: 2vh;
	}

	.section-noshes {
		grid-area: noshes;
		top: 2vh;
	}

	.section-platters {
		grid-area: platters;
		top: 2vh;
	}

	.section-soup {
		grid-area: soup;
		top: 2vh;
	}

	.section-salads {
		grid-area: salads;
		top: 2vh;
	}

	.section-boards {
		grid-area: boards;
		top: 2vh;
	}

	.section-sweet {
		grid-area: sweet;
		top: 2vh;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */

	.article {
		margin: 0.7rem 0;
	}

	.article--dish {

	}

	.article--dish:hover {
		/* padding: .3rem; */
		background-color: #f987c5;
	}

	.article--dish:hover .name--dish,  .article--dish:hover .text--dish, .article--dish:hover .prize {
		color: #89cff0;
	}

	.name--dish {
		color: #f987c5;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.text--dish {
		color: #f987c5;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.prize {
		color: #f987c5;
		float: right;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}
}
